<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body class='container'>
  <div class="jumbotron">
    <h1>Air Conditioner Control</h1>
    <p><%= @welcome_message %></p>
  </div>
  <div class="col-md-8">
    <form action="/votes" method="post">

      <label for="name">Name</label>
      <input class="form-control" type="text" name="name" value="<%= @last_employee_name %>"></br>

      <label for="category">Category</label>
      <select class="form-control" name="category">
        <option value="SM" <%= "selected=\"selected\"" if @last_employee_category == "SM"%>>
          Solution Manager
        </option>
        <option value="RM" <%= "selected=\"selected\"" if @last_employee_category == "RM"%>>
          Regional Manager
        </option>
        <option value="DEV" <%= "selected=\"selected\"" if @last_employee_category == "DEV"%>>
          Developer
        </option>
        <option value="QA" <%= "selected=\"selected\"" if @last_employee_category == "QA"%>>
          Qa Engineer
        </option>
      </select></br>

      <label for="temperature">Vote (between 17-28)</label>
      <input class="form-control" type="text" name="temperature" value="<%= @last_employee_temperature %>"></br>

      <input type="submit" value="Vote" class="btn btn-primary">
    </form>


  </div>

  <div class="col-md-4">
    <p>Current votes: <%= @current_votes %></p>
    <form action="/calculate_votes" method="post">
      <input type="submit" value="Calculate Winner" class="btn btn-primary">
    </form>
  </div>
</body>
